#-------------------------------------------------------------------------------
#
# Docker Ignore Config
#
#-------------------------------------------------------------------------------

# Yarn Dependencies
/node_modules/

# Go Dependencies
/vendor/

# Build
/go-link-check
