#-------------------------------------------------------------------------------
#
# Docker Ignore Config
#
#-------------------------------------------------------------------------------

# Yarn dependencies
/node_modules/

# Go dependencies
/vendor/

# Build
/go-link-check

# CI configuration
/.github/
