#-------------------------------------------------------------------------------
#
# Git Ignore Config, https://git-scm.com/docs/gitignore.
#
#-------------------------------------------------------------------------------

# Yarn dependencies
/node_modules/

# Go dependencies
/vendor/

# Build and run
/go-link-check
/results.csv

# Testing
/coverage.txt

# Keep these directories, even if ignored otherwise
!.keep
