#-------------------------------------------------------------------------------
#
# Git Ignore Config, https://git-scm.com/docs/gitignore.
#
#-------------------------------------------------------------------------------

# Yarn Dependencies
/node_modules/

# Go Dependencies
/vendor/

# Build
/go-link-check

# Keep these directories, even if ignored otherwise
!.keep
