#-------------------------------------------------------------------------------
#
# Prettier Ignores, https://prettier.io/docs/en/ignore.html
#
#-------------------------------------------------------------------------------

# NPM Modules
/node_modules/
/package-lock.json

# Go Modules
/vendor/
